# Dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build outputs
dist/
build/

# Temporary files
*.tmp

# IDE settings
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Custom entries
my_custom_directory/
secrets.txt
